ul {
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: lightgreen;
}

body {
  background: #333333;
  color: #fff;
}
.burger {
  display: none;
}
#hideburger {
  display: none;
}

@media only screen and (max-width: 600px) {
  .burger {
    display: block;
  }
  #hide {
    display: none;
  }
  #hideburger {
    display: block;
  }
}
